@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Ubuntu:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaina 2', cursive;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* navbar section */
.sp1{
    color: khaki;
    font-size: 35px;
    font-weight: 600;
}
.sp2{
    color: darkorange;
    font-size: 35px;
    font-weight: 600;
}
.sp3{
    color: crimson;
    font-size: 35px;
    font-weight: 600;
}
.nav-item{
    padding: 0px 10px;
    font-size: 20px;
    color: white;
}
.nav-link{
    color: khaki;
}
.nav-link:hover{
    color:crimson ;
}


/* banner section */
.top-banner{
    width: 100%;
    background: url(images/wallpaperflare.com_wallpaper.jpg);
    padding: 11.875rem 0 7.375rem;
    color: khaki;
    box-shadow: 0 0 50px 0 black;
}
.top-banner:hover{
    box-shadow: 0 0 50px 0 crimson;
}
.txt-1{
    font-size: 30px;
}
.txt-2{
    font-size: 55px;
    font-weight: 600;
}
.txt-3{
    font-size: 38px;
}
.container p span.typed-text {
    font-weight: normal;
    color: #dd7732;
    font-size: 38px;
  }
  .container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }




/* aboutme sction */
.about-me{
    margin-top: 40px;
    margin-bottom: 20px;
}
.img-1{
    height: 450px;
    width: 450px;
    border-radius: 20px;
    text-align: center;
}
.top-abt{
    font-size: 40px;
    color: black;
    text-align: center;
}
.me{
    font-size: 20px;
    color: crimson;
}


/* skill/service section */
.skills{
    background: #111;
    box-shadow: 0px 0px 50px black;
}
.skills:hover{
    box-shadow: 0px 0px 50px crimson;
}

.card{
    width: 20rem; 
    height: 260px; 
    background: #222; 
    color:white;
}
.card-body{
    transition: all 0.3s ease;
}
.cmd:hover{
    background: crimson;
    transform: scale(1.08);
    border-radius: 10px;
}
.card-body:hover .two{
    color: white;
}




/* project-section */
.line{
    width: 100px;
    border:none;
    border-top:10px dotted ; 
    color: crimson;
    background-color: white;
}

.cbd{
    transition: all 0.3s ease;
    border: 2px solid crimson;
    border-radius: 10px;
}
.cbd:hover{
    background: url(images/wallpaperflare.com_wallpaper.jpg);
    color: khaki;
    transform: scale(1.08);
    border-radius: 10px;
}


/* contactme section */
.contactme{
    background: #181818;
    box-shadow: 0px 0px 50px black;
}
.contactme:hover{
    box-shadow: 0px 0px 50px crimson;
}
.lisomeicon{
    color: khaki;
    font-size: 25px;
}
.lisomeicon:hover{
    color: crimson;
}
.mail{
    background:#202020;
    border:1px solid;
    border-radius: 20px;
    padding: 7px 20px;
    font-size: 20px;
}
.mail:hover{
    background-color: crimson;
}

/* footer section */



















/* media queries for img and about section and card-skill,project */
@media (max-width: 1104px) {
    .img-1{
        height: 400px;
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .csd{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .cbd{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width:840px){
    .img-1{
        height: 300px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .me{
        font-size: 15px;
    }
    .csd{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .cbd{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}